.App-Proximity {
  background-image: url(./background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-Title {
  align-items: center;
  justify-content: center;
  font-size: calc(36px + 2vmin);
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  color: #666230;
  padding-top: 20px;
  padding-bottom: 50px;
}

.App-Youtube {
  width: 55vw;
}

.App-Description {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  white-space: pre-wrap;
  font-size: calc(10px + 2vmin);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding-top: 50px;
  
}

a:link {
  color : rgb(49, 146, 184);
}
a:visited {
  color : rgb(62, 71, 201);
}
a:hover {
  color : rgb(5, 255, 172);
}
a:active {
  color : rgb(145, 205, 255)
}